<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="temperatura" value="3" />
    <add key="date" value="13.09.2017 10:05:27" />
    <add key="mysql_host" value="l0.235.63.252" />
    <add key="mysql_name" value="ukut_maps" />
    <add key="mysql_user" value="operator" />
    <add key="mysql_pass" value="ghbdtn" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
</configuration>